h1 {
    text-align: center;
  }
  td {
    width: 100px;
    height: 100px;
  }
  table {
    margin: 5px auto;
  }
  .vert {
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
  .hori {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  .house:hover{
    background-color: #f49e42;
  }

  .grid-container{
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 10px;
  }

  .grid-button{
    grid-row: 2;
  }

  .left-col{
    float: left;
    width: 75%;
  }

  .right-col{
    float: right;
  }
/* https://codepen.io/xunnn/pen/yEmMbm */